<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>student dashboard</title>

    
    <style>
        body{
            background-color: black;
            color:white;
            font-family: Helvtica, sans-serif;
            font-size: 20px;
        }

        .card{
            padding:12px;
            border-radius: 12px;
            box-shadow: 04px 8px coral;
            border: 10px solid white;
            margin:30px;
            width:450px;
        }
    </style>
</head>


<body>
    <div class="card"> 
        <h1>Student data</h1>
        <p>
        Name: {{name}} <br>
        Age: {{age}} <br>
        Course: {{cousre}}
    </p>
    </div>
   
</body>
</html>